body{
    background-color: #1e1e1e;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.search-field{
    width: 100%;
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.search-field h1{
    font-size: 3rem;
    font-family: 'Courier New', Courier, monospace;
    color: #268601;
}

.search-field div{
    width: 80%;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.search-field div input{
    width: 60%;
    height: 3rem;
    padding: 1rem;
    font-size: 1rem;
    color: #1b6be4;
    background-color: transparent;
    border: 1px solid #268601;
}

.search-field div button{
    font-size: 2rem;
    background-color: transparent;
    border: none;
    transition: all .4s;
    color: #268601;
}

.search-field div button:hover{
    cursor: pointer;
    color: #99e47b;
    scale: 1.05;
}

.video{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
}

.video p{
    font-size: 1.5rem;
    color: #268601;
}

.video a{
    padding: .8rem 2rem;
    background-color: #268601;
    font-size: 1.5rem;
    border-radius: 8px;
    text-decoration: none;
    color: white;
    transition: all .4s;
}

.video a:hover{
    background-color: transparent;
    border: 2px solid #268601;
    color: #268601;
}

.error{
    width: 100%;
    text-align: center;
}

.error p{
    font-size: 1.5rem;
    color: rgb(231, 58, 58);
}